<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <br>  
    <center><%= image_tag("GameTagLogo.png") %></center>
    <br>
    <form role="form">
      <input class="form-control" id="focusedInput" type="text" value="SEARCH GAMER TAG">
    </form>
    <br>
      </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <%= link_to "PC", users_path, :class => "btn my-btn btn-block"  %>
    
  </div>
  <div class="col-md-1">
    <%= link_to "Playstation", users_path, :class => "btn btn-primary btn-block"  %>
  </div>
  <div class="col-md-1">
    <%= link_to "Xbox", users_path, :class => "btn btn-success btn-block"  %>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-info btn-block">IOS</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-warning btn-block">Nintendo</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger btn-block">Android</button>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>

    <!-- Standard button -->

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

    <!-- Indicates a successful or positive action -->

    <!-- Contextual button for informational alert messages -->

    <!-- Indicates caution should be taken with this action -->

    <!-- Indicates a dangerous or potentially negative action -->






