<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%= form_for @photo do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Upload", :class => "btn btn-primary"%>
<% end %>
