/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
 @import "bootstrap-sass-official/assets/stylesheets/bootstrap";
 

//  html, body { 
//   min-height: 100%; 
// }
// body {
//   background: linear-gradient(#ededed, black);
// box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
// }

.marginRight {
  margin-right: 10px;
}
.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}
.panel-body{
  display: none;
}

.marquee {
  width: 1000px;
  height: 50px;

  overflow: hidden;
  position: absolute;
  bottom:5px;
  background-color: #FFFFFF;
  -webkit-transition: background-color 350ms;
  -moz-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  color: green;
  font-weight: bold;

    
    filter: dropshadow(color=#000000, offx=1, offy=1);
  transform:translateX(100%);
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
}
.marquee p:nth-child(1) {
  animation: left-one 20s ease infinite;
  -moz-animation: left-one 20s ease infinite;
  -webkit-animation: left-one 20s ease infinite;
}
.marquee p:nth-child(2) {
  animation: left-two 20s ease infinite;
  -moz-animation: left-two 20s ease infinite;
  -webkit-animation: left-two 20s ease infinite;
}
.marquee.down p {
  transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
}
.marquee.down p:nth-child(1) {
  animation: down-one 20s ease infinite;
  -moz-animation: down-one 20s ease infinite;
  -webkit-animation: down-one 20s ease infinite;
}
.marquee.down p:nth-child(2) {
  animation: down-two 20s ease infinite;
  -moz-animation: down-two 20s ease infinite;
  -webkit-animation: down-two 20s ease infinite;
}
.marquee.up p { 
  transform:translateY(100%);
  -moz-transform:translateY(100%);
  -webkit-transform:translateY(100%);
}
.marquee.up p:nth-child(1) {
  animation: up-one 20s ease infinite;
  -moz-animation: up-one 20s ease infinite;
  -webkit-animation: up-one 20s ease infinite;
}
.marquee.up p:nth-child(2) {
  animation: up-two 20s ease infinite;
  -moz-animation: up-two 20s ease infinite;
  -webkit-animation: up-two 20s ease infinite;
}

/*================================
  Move the Marquee to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
  0%  {
    -moz-transform:translateX(100%);
  }
  10% {
    -moz-transform:translateX(0);
  }
  40% {
    -moz-transform:translateX(0);
  }
  50% {
    -moz-transform:translateX(-100%);
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}
@-moz-keyframes left-two {
  0% {
    -moz-transform:translateX(100%);
  }
  50% {
    -moz-transform:translateX(100%);
  }
  60% {
    -moz-transform:translateX(0);   
  }
  90% {
    -moz-transform:translateX(0);   
  }
  100%{
    -moz-transform:translateX(-100%);
  }
}
/** Webkit Keyframes **/
@-webkit-keyframes left-one {
  0% {
    -webkit-transform:translateX(100%);
  }
  10% {
    -webkit-transform:translateX(0);
  }
  40% {
    -webkit-transform:translateX(0);
  }
  50% {
    -webkit-transform:translateX(-100%);
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}
@-webkit-keyframes left-two {
  0% {
    -webkit-transform:translateX(100%);
  }
  50% {
    -webkit-transform:translateX(100%);
  }
  60% {
    -webkit-transform:translateX(0);    
  }
  90% {
    -webkit-transform:translateX(0);    
  }
  100%{
    -webkit-transform:translateX(-100%);
  }
}

/*================================
  Move the Marquee Downwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
  0%  {
    -moz-transform:translateY(-100%);
  }
  10% {
    -moz-transform:translateY(0);
  }
  40% {
    -moz-transform:translateY(0);
  }
  50% {
    -moz-transform:translateY(100%);
  }
  100%{
    -moz-transform:translateY(100%);
  }
}
@-moz-keyframes down-two {
  0% {
    -moz-transform:translateY(-100%);
  }
  50% {
    -moz-transform:translateY(-100%);
  }
  60% {
    -moz-transform:translateY(0);   
  }
  90% {
    -moz-transform:translateY(0);   
  }
  100%{
    -moz-transform:translateY(100%);
  }
}

/** Webkit Keyframes **/
@-webkit-keyframes down-one {
  0% {
    -webkit-transform:translateY(-100%);
  }
  10% {
    -webkit-transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(100%);
  }
  100%{
    -webkit-transform:translateY(100%);
  }
}
@-webkit-keyframes down-two {
  0% {
    -webkit-transform:translateY(-100%);
  }
  50% {
    -webkit-transform:translateY(-100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(100%);
  }
}

/*================================
  Move the Marquee Upwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
  0%  {
    -moz-transform:translateY(100%);
  }
  10% {
    -moz-transform:translateY(0);
  }
  40% {
    -moz-transform:translateY(0);
  }
  50% {
    -moz-transform:translateY(-100%);
  }
  100%{
    -moz-transform:translateY(-100%);
  }
}
@-moz-keyframes up-two {
  0% {
    -moz-transform:translateY(100%);
  }
  50% {
    -moz-transform:translateY(100%);
  }
  60% {
    -moz-transform:translateY(0);   
  }
  90% {
    -moz-transform:translateY(0);   
  }
  100%{
    -moz-transform:translateY(-100%);
  }
}

/** Webkit Keyframes **/
@-webkit-keyframes up-one {
  0% {
    -webkit-transform:translateY(100%);
  }
  10% {
    -webkit-transform:translateY(0);
  }
  40% {
    -webkit-transform:translateY(0);
  }
  50% {
    -webkit-transform:translateY(-100%);
  }
  100%{
    -webkit-transform:translateY(-100%);
  }
}
@-webkit-keyframes up-two {
  0% {
    -webkit-transform:translateY(100%);
  }
  50% {
    -webkit-transform:translateY(100%);
  }
  60% {
    -webkit-transform:translateY(0);    
  }
  90% {
    -webkit-transform:translateY(0);    
  }
  100%{
    -webkit-transform:translateY(-100%);
  }
}

#achievements {
  width: 100%;
}

.tr1 {
background-color: #FFFFFF;
}

.tr2 {
 background-color: #EBEBEB;;
}